<!DOCTYPE html>
<html lang="en">
  <head>
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/kube.css') }}">
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body>
  		<div class="wrap">
	  		<header>
	  			<div id="logo"><h1>plexWatchedWeb</h1></div>
	  		</header>


		  		<nav id="nav" class="navbar nav-fullwidth">
		  			<ul>
			  			<li><a href="{{ url_for('index') }}">Home</a></li>
			  			<li><a href="{{ url_for('shows') }}">Shows</a></li>
			  			<li><a href="{{ url_for('movies') }}">Movies</a></li>
			  			<li><a href="{{ url_for('config') }}">Config</a></li>
		  			</ul>
		  		</nav>
		</div>

		<div class="units-row">
			<div class="unit-centered unit-90">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
						{% if category == 'error' %}
							<div class="errormsgbox">{{ message }}</div>
						{% endif %}
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>

  	    {% block content %}{% endblock content %}


</html>